.custom-pointer {
  filter: drop-shadow(0 0 10px #ff3b3b);
}

.roulette-image {
  border-radius: 50%;
  border: 2px solid #333;
  box-shadow: 0 0 10px rgba(255,255,255,0.1);
  object-fit: cover;
}

.roulette-container {
  max-width: 700px;
  max-height: 700px;
}

.roulette-container > div {
  width: 100% !important;
  height: 100% !important;
  max-width: unset !important;
  max-height: unset !important;
}