@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

html,
body {
  width: 100%;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@layer components {
  .container {
    @apply mx-auto max-w-[1800px] px-16 max-xl:px-10 max-lg:px-6 max-sm:px-4;
  }
}